body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    background-image: url(arquivo/background.png);
}

.container {
    margin-top: 160px;
    margin-left: 64px;
}

h1 {
    font-size: 60px;
    color: aqua;
}

h2 {
    font-size: 34px;
}

.container ul li, .container ol li {
    margin: 10px 0;
    color: aqua;
}

.container ol li a {
    color: aqua;
}
