body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 44px;
}

img {
    width: 800px;
    border-radius: 16px;
    transition: 0.5s;
}

img:hover {
    filter:brightness(120%)
}

iframe {
    border-radius: 20px;
    width: 640px;
    height: 360px;
}
