* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #132e4c;
}

button {
    border: none;
    cursor: pointer;
    color: #3D3D3D;
    background: linear-gradient(270deg, #FDFDFD 0%, #DEDEDE 100%);
    height: 60px;
    width: 200px;
    border-radius: 50px;
    font-size: 30px;
}

